.app-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 90%;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 5px;
  font-size: 26.5px;
}

th {
  background-color:cornflowerblue;
}

td {
  background-color:darkgray;
}






