.app-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 70%;
}

th,
td {
  border: 1px solid #ffffff;
  padding: 3px;
  font-size: 15.5px;
}

th {
  background-color:cornflowerblue;
}

td {
  background-color:darkgray;
}

.Emp-Id{
  width: 10px;
}





