
.App {
    text-align: center;
  }

.App-header {

    max-width: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .RoleTable{
      margin-top: 60px;
      width: 50%;
  }